.snackbar {
  display: fixed;

  background: #ff7979d0;
  color: black;

  padding: 10px;
  border-radius: 15px;
}

.snackbar__title {
  color: #ff1111;
}

.snackbar__close-button {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.snackbar__close-button::after {
  content: 'X';
  color: black;
  cursor: pointer;
}
